html,
body {
  background-color: #effffd;
  padding: 0.7rem;
}

.container {
  width: 280px;
  height: 360px;
  background-color: #effffd;
  position: relative;
}

.sub-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h2 {
  text-align: center;
  margin-left: 0.4rem;
  font-size: 20px;
}

.sub-div-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.h3 {
  text-align: center;
}

.hover:hover {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
